* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  padding: 20px;
  line-height: 1.5;
}

.curriculo {
  display: grid;
  grid-template-columns: 31% 69%;
  width: 794px; 
  height: 1000px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar {
  background-color: #005f7f;
  color: white;
  padding: 50px 20px;
  text-align: center;
}

.sidebar img {
  width: 160px;
  margin-bottom: 15px;
}

.sidebar .contato {
  list-style: none;
}

.sidebar h2 {
  font-size: 16px;
  margin-top: 30px;
  border-top: 1px solid white;
  padding-top: 5px;
  text-align: left;
}

.sidebar ul {
  list-style-position: inside;
  text-align: left;
}

.sidebar ul li {
  font-size: 14px;
  margin: 10px 0;
}

.sidebar ul i{
  margin-right: 10px;
}

.sidebar a {
  color: white; 
  text-decoration: none; 
  /* font-weight: bold;  */
}

.sidebar a:hover {
  text-decoration: underline; 
}


.conteudo {
  padding: 60px 20px;
  text-align: justify;
}

.conteudo h1 {
  color: #005f7f;
  font-size: 32px;
  margin-bottom: 20px;
  border-bottom: 3px solid gray;
}

.conteudo .resumo {
  color: black;
  font-size: 16px;
  margin-bottom: 10px;
  border: none;
}

.conteudo h2 {
  color: black;
  font-size: 16px;
  margin-bottom: 10px;
  padding-top: 5px;
  border-top: 2px solid gray;
}

.conteudo h3 {
  font-size: 16px;
  margin-top: 10px;
  color: #333;
}

.conteudo .digital {
  margin-bottom: 0;
}

.conteudo .carga {
  margin-bottom: 5px;
}

.conteudo p {
  font-size: 14px;
  margin-bottom: 30px;
  color: #555;
  line-height: 1.5;
}

.conteudo li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #555;
}

.conteudo ul {
  list-style: disc;
  margin-left: 20px;
}

.conteudo .cursos {
  margin-bottom: 30px;
}

.generate-pdf {
  text-align: center;
  margin: 20px 0;
}

.generate-pdf button {
  background-color: #005f7f;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.generate-pdf button:hover {
  background-color: #004b63;
}